$textColor: #3b3b3b;
$backgorundColor: #E9E9E9;
$landingBgColor: linear-gradient(0deg, rgba(22,30,40,1) 0%, rgba(22,40,60,1) 50%);
$mentorColor :  #E9E9E9;
$meColor : #a6d431;
$bgBurgerOpen:  rgb(197, 197, 197);