@import "./_colors.scss";

.formContainerLogin {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 3rem auto;
  p {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    margin: 7px;
    color: $landingBgColor;
  }
  .forgotpassword {
    text-decoration: none;
    font-size: 13px;
    margin-right: 0.5em;
    color: rgb(169, 164, 164);
    position: relative;
    left: 65px;
  }
  .buttonLoginContainer {
    margin-top: 50%;
    margin: 12%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    .buttoncreateacc {
      margin: 2px auto;
      border-radius: 20px;
      color: $landingBgColor;
    }
  }
}
